html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img{
    height: 100%;
    width: 100%;

    /*border: 5px solid #555;*/

}
.BGImages img{
    border: 5px solid #555;
    border-radius: 20px;
   
    /*center images*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}
body{
    background-color: darkslateblue;
}

.DownloadFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 12px;;
    border: 4px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

    background-color: chartreuse;
    cursor: pointer;
}

/*Header*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}

#header .top-bar { 
    background-color: darkolivegreen;
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;

    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header .top-bar ul{ 
    display: flex;
    flex-direction: row;

    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;

    list-style: none;
    padding: 0px;    
    color: cornsilk;
}
#header .top-bar ul li{ 
    padding: 10px;
    font-size: 1.3rem;
 
}

#header .header{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    width: auto;
    background-color: darkgreen;
    /*justify-content: center;*/
    align-content: center;
    align-items: center;
  
}
#header .header .Logo{
    width: 100px;
    padding: 20px;
    
}

#header .header .title {
    /*background-color: blue;*/
}
#header .header .title h1{
    font-size: 3rem;
    color: whitesmoke;  
    text-align: center;
}

#header .header .nav-content{
    position:absolute;
    right: 20px;
    display: flex;

      /*background-color: yellow;*/
   
}

/*for JS Active*/
#header .header .nav-content.active{
    display: none;
}

#header .header .nav-content ul{ 
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0%;
    right:0;
    color: cornsilk;
}

#header .header .nav-content ul a{
    font-size: 2.2rem;;
    font-weight:bold;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color:white;
      
}

#header .header .nav-content ul a::before {
    /*content: attr(data-after);*/
}

/*create burger*/
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
    right: 0px;
}

/*create burger bar*/
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
} 

#header .hamburger .bar::after,
#header .hamburger .bar::before { 
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
  
    background-color: white;
    transition:  .3s ease;
    transition-property: top, bottom;
}

/*for JS Active*/
#header .hamburger .bar::after{ 
    top:8px
}
#header .hamburger .bar::before{ 
    bottom:8px
}


#header .hamburger.active .bar::before{ 
    bottom:0;
}
#header .hamburger.active .bar::after{ 
    top:0;
}


/*for animation*/
#header .hamburger:after{ 
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;

}

#header .hamburger{
    display: none;
    right: 0;
}
/*Home*/

.Home {
    display: flex;
    flex-direction: column;
    /*background-color: yellowgreen;*/
    margin-top: 170px;  
}
.Home .title{
    display: flex;
    background-color: darkorange;
    height: 50px;
    justify-content: center;
    align-items: center;

}
.Home .title h1 {
    text-align: center;
    font-size: 4rem;
    color: ivory;
}



.home-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: rgb(245, 245, 70);
}

.home-item .home-left h1{
    font-size: 2.3rem;
    text-align: center;
    color: darkgreen;
}
.home-item .home-left h3 {
    font-size: 2.3rem;
    text-align: center;
    color: darkgreen;
}

.home-item .home-left{
    display: flex;
    width:60%;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
    margin-bottom: 10px;
    
   
}
.home-item .home-left .BGImages { 
    width: 90%;
}

.home-item .home-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /*background-color: orangered;*/

}
.home-item .home-right .list-col{
   
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

    justify-content: center;
    align-content:center;
   
}
.home-item .home-right .list-col .column1{
    /*background-color: blueviolet;*/
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: baseline;*/
}
.home-item .home-right .list-col .column2{
    /*background-color: blue;*/
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: baseline;*/
}
.home-item .home-right ul{

    list-style: none;
    margin-bottom: 2px;
    padding: 0%;

    
    
}
.home-item .home-right .list-item {
    padding: 2px;
    margin-bottom: 15px;
    /*border-top: 2px solid green;
    background-color: red;*/


    
}
.home-item .home-right .Itemlink{
    /*display: flex;
    flex-direction:initial;

    justify-content: center;
    align-content:center*/
    width: inherit;
     
}



.home-item .home-right .list-item .Itemlink li {
   /* padding: 3px;*/
   left: 0;
}


.home-item .home-right .list-item li {

    /*display: block;*/
    padding: 2px;
}

.home-item .home-right a {
    font-size: 2rem; 
    text-decoration: none; 
    font-weight: bold;
}
/*Mouse over*/
.home-item .home-right ul .Itemlink a:hover{
    /*color: yellow;*/
    background-color: greenyellow;
}

.home-item .home-right .list-item .Itemlink {
    display: flex;
    width: 100%;
    align-items: initial;
    text-decoration: none; 
    margin-left: 10px;
}

.home-item .home-right p{
    color: rgb(0, 80, 0);
    font-size:2rem; 
    font-weight: bold;
}

/*Featured Videos*/

.home-videos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: rgb(245, 245, 70);
}

.home-videos .home-left{
    display: flex;
    width:65%;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
    margin-bottom: 10px;
    width: 80%;
    
}


.home-videos .home-left .BGImages {
    width: 90%;
}


.home-videos .home-left h1 {
    
    font-size: 2.3rem;
    text-align: center;
    color: darkgreen;
    width: 100%;
    height:100%;
    

}

.Home .title2{
    display: flex;
    background-color: rgb(195, 245, 100);
    height: 50px;
    justify-content: center;
    align-items: center;
}

.Home .title2 h1 {
    text-align: center;
    font-size: 2.5rem;
    color: darkgreen;
}


/*Quarter Setting*/
.QuarterSetting {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*justify-content: center;*/
    align-items:baseline;
    min-height: 98vh;
    background-color: darkslateblue;

    /* justify-content: center;
     align-items: center;*/
} 
.FirstQuarter-itemHide {
    display: none;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: rgb(70, 225, 70);
}

/*First Quarter*/


#FirstQuarter .QuarterSetting .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    color: white;
    font-size: 3rem;
    background-color: darkgreen;
}
/* Change BackGround*/
.FirstQuarter-item1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: rgb(70, 225, 70);
}
.FirstQuarter-item2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: lightgreen;
}



/*Second Quarter*/

#SecondQuarter .QuarterSetting .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    align-content: center;
    color: white;
    font-size: 3rem;
    background-color: red;

}

.SecondQuarter-item1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: lightpink
}
.SecondQuarter-item2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: lightsalmon;
}
/*Third Quarter*/

#ThirdQuarter .QuarterSetting .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    align-content: center;
    color: white;
    font-size: 3rem;
    background-color: blue
}
.ThirdQuarter-item1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: lightblue;
}
.ThirdQuarter-item2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    background-color: lightcyan;
}
/*Fourth Quarter*/
  
#FourthQuarter .QuarterSetting .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    align-content: center;
    color: white;
    font-size: 3rem;
    background-color: yellow
}
/*RP-IMT Quarter*/

#RP-IMT .QuarterSetting .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    align-content: center;
    color: white;
    font-size: 3rem;
    background-color: gray
}

@media only screen and (max-width: 1270px){

   
    #header .header .nav-content{
        top: 0%;
        display: none;
    }

    #header .header .nav-content ul{
        background-color: green;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        
       /* padding: 10px;*/
    }
    #header .header .nav-content ul a{
        line-height:180%;
        font-size: 3rem;
        width:auto;
      }
    .home-item .home-right .list-item .Itemlink {
        display: flex;
        flex-direction: column;
    }

    #header .header .hamburger{
        display: flex;
        position: absolute;
        right: 0px;
    }
    
}

@media only screen and (max-width: 768px){ 


    #header .header{ 
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        align-content: center;
        align-items: center;
    }
    #header .header .nav-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }
    
    .home-item .home-left{
        width: 80%;

    }
    #header .header .hamburger{
        display: flex;
        position: absolute;
        right: 0px;
    }
    .home-item .home-right .list-item .Itemlink {
        display: block;
        justify-content: center;
    }

    #Home .home-videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

